{% extends "index_template.html" %}

{% block content %}

	<div class="container-fluid pt-5">
		<div class="row justify-content-center">
				
	

		{% if name %}
					<h1 class="mt-5 text-center">Felicidades {{ name }}, has ganado!</h1>
					<h3 class="text-center">Te ha tomado:</h3>
					<h2 class="text-center">{{ clicks }} clicks</h2>
					<h2 class="text-center">{{ min }} minutos, {{ segs }} segundos, {{ ms }} milisegundos</h2>
					<div class="row mt-5">
						<div class="col text-center">
							<h3>¿Crees que puedes mejorar?</h3>
							<a href="{{ url_for('ingame', game_id=game) }}" type="button" class="btn btn-warning">Jugar Nuevamente</a>
						</div>
						<div class="col text-center">
							<h3>¿Quieres ver la tabla?</h3>
							<a href="{{ url_for('game_attempts', game_id=game) }}" type="button" class="btn btn-warning">Ver puntajes</a>
						</div>
					</div>		

		{% else %}

			<h1 class="mt-5 text-center">Felicidades, has ganado!</h1>
			<h3 class="text-center">Te ha tomado:</h3>
			<h2 class="text-center">{{ clicks }} clicks</h2>
			<h2 class="text-center">{{ min }} minutos, {{ segs }} segundos, {{ ms }} milisegundos</h2>
			<form action="" method="POST">
				<div class="row text-center mt-5">
					<div class="col text-center">
						<h3>Ingresa tu nombre </h3>
						<input class="form-control form-control-lg" type="text" placeholder="Ingresa tu nombre" name="username">
						<button class="btn btn-warning mt-2 text-center" type="submit" style="width:60%;">Listo!</button>
					</div>
				</div>
			</form>

		{% endif %}

		</div>	
	</div>

{% endblock content %}